<div *ngFor="let caseItem of cases" class="case-panel">
    <p-panel [header]="'מספר תיק: ' + caseItem.caseId">
        <p>שם תיק: {{ caseItem.caseName }}</p>
        <p>תאריך פתיחה: {{ caseItem.openingDate | date: 'dd/MM/yyyy' }}</p>
        <p>סטטוס: {{ caseItem.status | caseStatusPipe }}</p>
        <p>עו״ד מטפל: {{ caseItem.assignedTo }}</p>
        <p>סוג תיק: {{ caseItem.caseType }}</p>
        <p>שופט: {{ caseItem.judgeName }} (מס׳ שופט: {{ caseItem.judgeId }})</p>
      </p-panel>
  </div>
